<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Population Data
    </title>
    <link href="style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navigation {
            background-color: grey;
            color: white;
            padding: 10px
        }

        .heading {
            color: black;
        }

        .footer {
            padding: 20px;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
        }

        .imagesize {
            min-height: 100%;
            min-width: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <body>
        <!--Defining Nav Bars-->

        <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <strong> Public Spending On Education and Corrections</strong>
                </a>
                <button class="navbar-toggler btn-lg" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active dropdown btn-lg">
                            <a class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plots</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown03">
                                <a class="dropdown-item" href="crime_vs_edufunding.html">Crime Rate vs Edufunding</a>

                            </div>
                        </li>



                        <li class="nav-item active dropdown btn-lg">
                            <a class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Predictive Analysis</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown03">
                                <a class="dropdown-item" href="predictive_analysis.html">Education Funding vs. Crime Rate</a>
                                <a class="dropdown-item" href="regression_analysis.html">Spending vs. crime level</a>

                            </div>
                        </li>

                        <li class="nav-item active dropdown btn-lg">
                            <a class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown03">
                                <a class="dropdown-item" href="crime_data.html">Crime Data</a>
                                <a class="dropdown-item" href="population_data.html">Population Data</a>
                                <a class="dropdown-item" href="spending_data.html">Spending Data</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div>
                <h1 class="head"> Population Data</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped" id="UFOTable">
                        <thead>
                            <th>State</th>
                            <th>2000</th>
                            <th>2001</th>
                            <th>2002</th>
                            <th>2003</th>
                            <th>2004</th>
                            <th>2005</th>
                            <th>2006</th>
                            <th>2007</th>
                            <th>2008</th>
                            <th>2009</th>
                            <th>2010</th>
                            <th>2011</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button id="load-btn" class="btn btn-primary">Load More Data</button>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="javascripts/population_data.js"></script>
        <script src="javascripts/population_pagination.js"></script>

    </body>

</html>
